:root {
  --bs-primary: #e14c62;
}

body {
  background-color: #121212;
}

.text-accent {
  color: var(--bs-primary);
}

.navbar {
  border-bottom: 2px solid var(--bs-primary);
}

.table-dark {
  background-color: #1e1e1e;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: white;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #c93e52;
  border-color: #c93e52;
}

.btn-outline-accent {
  color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-outline-accent:hover {
  background-color: var(--bs-primary);
  color: white;
}

.login-card,
.form-card {
  background-color: #1e1e1e;
  border-top: 4px solid var(--bs-primary);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.body-login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transition-hover {
  transition: background-color 0.3s ease;
}

.transition-hover:hover {
  background-color: #2a2a2a !important;
  cursor: pointer;
}
